duckdb==1.2.2
stac-fastapi-core==6.1.0
sfeos-helpers==6.1.0
# wheel # Maybe unnecessary
uvicorn
starlette
numpy==2.2.6 # https://github.com/aws/aws-sam-cli/issues/8101
pandas
shapely
fastapi
mangum
boto3
gdal
geometry